<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

    <!-- encoding -->
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!-- style -->
    <link type="text/css" rel="stylesheet" href="{{ base_url }}base.css"/>
    {%block css%}{%endblock%}
    
    {%block js%}{%endblock%}

    <!-- title -->
    <title>
        {%block title%}{%endblock%}
    </title>
    {%block head%}{%endblock%}
</head>

<body class="{%block bodyclass%}{%endblock%}">
<div id="content-wrapper">
    <div id="container">

            <!-- content -->
            <div id="content">
                {%block content%}
                {%endblock%}
            </div>  
    </div>

</div>
</body>
</html> 
