/* Generic */
.clear-both { clear: both; }

/* For heat maps */
.heat-map, .legend {
    border-spacing: 0px 0px;
    border-collapse: collapse;
    font-size: 10px;
}

table.legend { margin-left: 325px; }

.legend td {
    text-align: center;
    width: 25px;    
}
.legend .color-coded-cell td { background: #000000; }

.gene-name-cell { 
    min-width: 175px;
    max-width: 275px;
    white-space: nowrap; 
}

.annotation-cell { 
    min-width: 175px;
    white-space: nowrap;
    overflow: hidden; 
}

tr.odd .text-cell,
tr.odd .heat-map-cell-text,
tr.odd .annotation-cell { background: #EFEFEF; }

.heat-map-cell { 
    background: #000000; 
    min-height: 10px;
    min-width: 100px;   
}

.heat-map-cell-text { 
    min-height: 10px;
    min-width: 96px;    
    padding: 0px 2px;   
}

.white { 
   background: #FFFFFF; 
}

.heat-map-div {
    height: 100%;
    width: 100%;
}

.up-regulated { background: #FF0000; }
.down-regulated { background: #0FFF00; }

.gene-name {
    float: left;
}

.gene-links {
    float: right;
    margin-right: 5px;
}


/* For enrichment graphs */
.enrichment-graph {
    width: 760px;
    position: relative;
    margin: 0px 50px;
    border: 1px solid #CCC;
    border-right: none;
}

.y-axis-label {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    top: 100%;
    left: -49%;
}

.min-distance {
    position: relative;
    top: -10%;
}

.max-distance {
    position: relative;
    top: 10%;
}

.max-p {
    float: right;
}

.min-p {
    float: left;
}

.x-axis-labels {
    width: 100%;
    text-align: center;
}

.count-legend-div {
    float: left;
}

.count-legend-label {
    float: left;
    z-index: 10;
    text-align: center;
    margin: 0 5px;
}

.count-legend-bg {
    background: #0044cc;
    height: 20px;
    min-width: 40px;
}

.enriched-term, .enriched-term-background {
    height: 20px;
    border: 1px solid #000000;
}

.enriched-term-background {
    background: #0044cc;
    width: 200px;
}

.enriched-term-background a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.enriched-term {
    min-width: 200px;
    white-space: nowrap;
    text-align: center;
    line-height: 10pt;
    position: absolute;
    font-size: 9pt;
}
