
{% extends 'base_template.html' %}

{% block title %} Microarrays:: Heat Map {% endblock %}

{% block content %}

<table class="legend">
    <tr>
        <th colspan="7">Mean Log Transformation Coloring</th>
    </tr>
    <tr>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr class="color-coded-cell">
        <td><div class="down-regulated" style="opacity:1"> </div></td>
        <td><div class="down-regulated" style="opacity:.66"> </div></td>
        <td><div class="down-regulated" style="opacity:.33"> </div></td>
        <td><div class="zero-regulated" style="opacity:0"> </div></td>
        <td><div class="up-regulated" style="opacity:.33"> </div></td>
        <td><div class="up-regulated" style="opacity:.66"> </div></td>
        <td><div class="up-regulated" style="opacity:1"> </div></td>
    </tr>
</table>
<br />
<table class="heat-map">
    <tr>
        <th> </th>
        <th>Gene Name</th>
        <th>Admin Link</th>
        <th>UCSC link</th>
        {% for field in fields %}
            <th>
                {{ field }}
            </th>
        {% endfor %} 
    </tr>
    {% for row_class, admin_link, ucsc_link, gene_names, row in table_cells %}
        <tr class="{{ row_class }}">
            <td class="text-cell counter-cell">{{ forloop.counter }}</td>
            <td class="text-cell gene-name-cell">
                <div class="gene-name">
                        {{ gene_names }}
                </div>
                <div class="gene-links">
                <a href="http://www.ncbi.nlm.nih.gov/gene?term={{ gene_names }}" target="_blank"
                        >Entrez</a>
                </div>
            </td>
            <td class="text-cell admin-link-cell">{{ admin_link|safe }}</td>
            <td class="text-cell ucsc-link-cell"  title="{{ title }}" >{{ ucsc_link|safe }}</td>
            {% for color, opacity, title in row %}
                <td class="heat-map-cell">
                    <div class="heat-map-div {{ color }}"
                        style="opacity: {{opacity}}" > </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}