{% extends 'base_template.html' %}

{% block title %} Microarrays:: Enrichment Graph {% endblock %}

{% block content %}

<div class="graph-title">
	<h1>Enriched Ontologies from the GeneOntology Database</h1>
</div>


Term appearance counts in data set:
<br class="clear-both" />
<div class="count-legend">
	<div class="count-legend-div">
			<div class="count-legend-label">{{ min_count|floatformat }} (min)</div>
			<div class="count-legend-bg" style="opacity:.1"></div>
	</div>
	<div class="count-legend-div">
			<div class="count-legend-label">&nbsp;</div>
			<div class="count-legend-bg" style="opacity:.2"></div>
	</div>
	<div class="count-legend-div">
			<div class="count-legend-label">&nbsp;</div>
			<div class="count-legend-bg" style="opacity:.4"></div>
	</div>
	<div class="count-legend-div">
			<div class="count-legend-label">&nbsp;</div>
			<div class="count-legend-bg" style="opacity:.6"></div>
	</div>
	<div class="count-legend-div">
			<div class="count-legend-label">&nbsp;</div>
			<div class="count-legend-bg" style="opacity:.8"></div>
	</div>
	<div class="count-legend-div">
			<div class="count-legend-label">{{ max_count|floatformat }} (max)</div>
			<div class="count-legend-bg" style="opacity:1"></div>
	</div>

</div>
<br class="clear-both" />
<div class="enrichment-graph-container">
	<span class="max-distance">{{ max_distance|floatformat }}</span>
	<span class="y-axis-label">Distance from Root</span>
	<div class="enrichment-graph">
		{% for go_id, term, distance, count, p_val, count_percent, p_percent in enriched %}
		<div class="enriched-term" 
			style="margin-left: {{ p_percent|floatformat:"2" }}%;"
			>		
				{{ term }}
		</div>
		<div class="enriched-term-background" 
			style="margin-left: {{ p_percent|floatformat:"2" }}%;
					opacity: {{ count_percent|floatformat:"2" }};"
			title="{{ term }}:: Distance from root: {{ distance|floatformat }}; p-value: {{ p_val }}"
			onclick="window.open('http://amigo.geneontology.org/cgi-bin/amigo/term-details.cgi?term={{ go_id }}','go-term-{{ forloop.counter }}')"	
			>
		</div>
		{% endfor %}  
	</div>
	<span class="min-distance">{{ min_distance|floatformat }}</span>
	<div class="x-axis-labels">
		<span class="min-p">{{ min_p }}</span>
		<span class="x-axis-label">P-value (logarithmic scale)</span>
		<span class="max-p">{{ max_p }}</span>
	</div>

</div>


{% endblock %}