{% extends 'base_template.html' %}

{% block title %} Microarrays:: Heat Map {% endblock %}

{% block content %}

<table class="legend">
    <tr>
        <th colspan="7">Mean Log Transformation Coloring</th>
    </tr>
    <tr>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr class="color-coded-cell">
        <td><div class="down-regulated" style="opacity:1">&nbsp;</div></td>
        <td><div class="down-regulated" style="opacity:.66">&nbsp;</div></td>
        <td><div class="down-regulated" style="opacity:.33">&nbsp;</div></td>
        <td><div class="zero-regulated" style="opacity:0">&nbsp;</div></td>
        <td><div class="up-regulated" style="opacity:.33">&nbsp;</div></td>
        <td><div class="up-regulated" style="opacity:.66">&nbsp;</div></td>
        <td><div class="up-regulated" style="opacity:1">&nbsp;</div></td>
    </tr>
</table>
<br />
<table class="heat-map">
    <tr>
        <th>Gene name</th>
        {% for test, control in samples %}
            <th>
            	Test: {{ test }}<br />
            	vs. Control: {{ control }}
            </th>
        {% endfor %} 
        {% for first, second in compared_samples %}
            <th>
            	Differential: {{ first }}<br />
            	- {{ second }}
            </th>
        {% endfor %} 
        {% if include_annotation %}
            <th>Other Information</th>
        {% endif %}
    </tr>
    {% for row_class, gene, row, differentials, annotation in table_cells %}
        <tr class="{{ row_class }}">
            <td class="gene-name-cell">
            	<div class="gene-name" title="Probe ID: {{ gene.probe_id }}">
            		{{ gene.gene_name }}
            	</div>
            	<div class="gene-links">
            	<a href="http://www.ncbi.nlm.nih.gov/gene?term={{ gene.gene_name }}" target="_blank"
            		>Entrez</a>
            	</div>
            </td>
            {% for color, opacity in row %}
                <td class="heat-map-cell">
                    <div class="heat-map-div {{ color }}"
                        style="opacity: {{opacity}}">&nbsp;</div>
                </td>
            {% endfor %}
            {% for val in differentials %}
                <td class="heat-map-cell-text">
                    {{ val }}
                </td>
            {% endfor %}
            {% if include_annotation %}
	            <td class="annotation-cell">
	            	{% if gene.protein_name %}{{ gene.protein_name }};{% else %}
	            		{{ gene.description }};{% endif %}
	            	{% for p in gene.processes %}{{ p }}; {% endfor %}
	            </td>
	        {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}